@tailwind base;
@tailwind components;
@tailwind utilities;

/* daisyUI theme */
:root {
  --color-default: #fff;
}
@media (prefers-color-scheme: dark){
	:root{
		--color-default: #252b30;
	}
}
/* [data-theme='dark'] {
  --color-default: #252b30;
}
[data-theme='black'] {
  --color-default: #000000;
}
[data-theme='🌸'] {
  --color-default: #ffabc8;
}
[data-theme='🐬'] {
  --color-default: #7ec6ff;
}
[data-theme='🐤'] {
  --color-default: #ffd65a;
} */


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  //background-color: var(--color-default); /* daisyUI theme */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
